---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getHomeProjects } from "../lib/prismicClient"

const posts = await getHomeProjects()
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there </div>
    <div class="text-5xl font-bold">I'm Julio</div>
    <div class="text-3xl py-3 font-bold">A Front-End Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Soy Ingeniero Electr贸nico y desarrollador web. Domino HTML, CSS/SCSS, JS/TS, React.js y Astro. Ya sea trabajando de manera independiente o como parte de un equipo multifuncional, poseo habilidades efectivas de autogesti贸n y prospero en entornos colaborativos. Mi objetivo es aprovechar mis habilidades t茅cnicas y mi pasi贸n por el desarrollo de software para contribuir a proyectos de impacto. Conectemos y exploremos c贸mo mi diverso conjunto de habilidades puede beneficiar a tu equipo.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/jbzuloaga/" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  {posts.map((project: any) => (
      <HorizontalCard
        data={project.data}
      />
      <div class="divider my-0"></div>
    ))
  }

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
